@font-face {
  font-family: 'kf';
  src: url('../fonts/kf.eot'); /* IE9 Compat Modes */
  src: url('../fonts/kf.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/kf.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('../fonts/kf.svg#svgFontName') format('svg'); /* Legacy iOS */
}

$fonts: "neuzeit-grotesk";

$icon-font: "kf";

$fonts-mono: "neuzeit-grotesk";

$fonts-condensed: "neuzeit-grotesk"
