a{
  transition: .125s all ease;
}

.button{
  display: block;
  padding: 1rem 1rem;
  background-color: $white;
  border: 1px solid $blue;
  transition: $default-transition;
  white-space: nowrap;
  text-decoration: none;
  i{
    color: $blue;
    text-align: center;
    &:before{
      width: 1rem!important;
      height: 1rem!important;
    }
  }
  &.view-all{
    padding: 1rem 1.5rem;
  }
  &:hover{
    background-color: $blue;
    color: $white;
    cursor: pointer;
    i{
      color: $white;
    }
  }
  &:active{
    transform: translateY(5px);
  }
  &.blue{
    background-color: $blue;
    color: $white;
    text-transform: uppercase;
    &:hover{
      background-color: transparent;
      color: $blue;
    }
  }
  &.hollow{
    border: none;
    font-weight: 100;
    letter-spacing: .05rem;
    font-size: 1rem;
    font-family: $fonts-condensed;
    text-transform: uppercase;
    display: inline-block;
    text-decoration: none;
    padding: .75rem 1rem;
    border: 1px solid $white;
    background-color: transparent;
    color: $white;
    &:hover{
      color: $white;
      background-color: $white;
      color: $dark-sky;
    }
    &.dark{
      border-color: $dark-sky;
      color: $dark-sky;
      &:hover{
        background-color: $dark-sky;
        color: white;
      }
    }
    &.medium{
      border-color: $sky;
      color: $sky;
      &:hover{
        background-color: $sky;
        color: $dark-sky;
      }
    }
    &.blue{
      border-color: $blue;
      color: $blue;
      &:hover{
        background-color: $blue;
        color: $white;
      }
    }
  }
}
