.controls{
  display: inline-flex;
  height: 50px;
  @include breakpoint(815px) {
    display: block;
    @extend .clearfix;
    margin-top: 1rem;
    width: 100%;
    .left, .right{
      float: left;
      margin: 0 1rem 0 0;
    }
    .view-all{
      float: right;
    }
  }

  h3{
    font-size: 2rem;
    line-height: 3rem;
    font-weight: 400;
  }
  &.full{
    width: 100%;
    display: block;
    padding: 2rem 0;
    height: auto;
    border-top: 1px solid $blue;
    background-color: $light-sky;

    .container{
      display: flex;
      justify-content: space-between;
      @include breakpoint(915px) {
        .button{
          display: none;
        }
      }
    }
    .form-field, .button{
      margin: 0;
    }
    .form-fields{
      display: flex;
      @include breakpoint(915px) {
        justify-content: space-between;
        label{
          display: none;
        }
        width: 100%;
      }
      > * + *{
        margin-left: 1rem;
      }
    }
  }
  .button{
    transition: .5s opacity ease;
    margin-left: 1rem;
    &.view-all{
      width: 120px;
      text-align: center;
    }
    &.disabled{
      pointer-events: none;
      opacity: .5;
      &:hover{
        background-color: $white;
        border-color: $blue;
        i{
          color: $blue;
        }
      }
    }
    &.hidden{
      opacity: 0;
      pointer-events: none;
    }
  }
  .form-fields{
    display: flex;
    > * + *{
      margin-left: 1rem;
    }
  }
  .form-field{
    margin-left: 2rem;
    display: flex;
    align-items: center;
    label{
      margin-right: .5rem;
    }
  }
}
