.header-wrapper{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  width: 100%;
  z-index: 100;
  transition: .5s all ease;
}

header.global{
      border-top: 1px solid #FFF;
  padding: 1.5rem;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  border-bottom: 1px solid $sky;
  flex-wrap: wrap;
  transition: .5s all ease;
  position: relative;
  .logo{
    a{
      justify-content: center;
      align-items: center;
      text-align: center;
      display: flex;
      flex-direction: column;
    }
    a:before{
      display: block;
    }
    &:hover{
      a, small{
        color: $sky;
      }
    }
    a{
      font-size: 3rem;
      color: white;
      transition: .125s all ease;
      text-decoration: none;
    }
    small{
      font-size: 14px;
      text-transform: uppercase;
      font-weight: 300;
      letter-spacing: .125rem;
      margin-top: .5rem;
      color: $white;
      transition: .125s all ease;
    }
  }
  nav {
    margin: 0 1rem;
    width: 300px;
    display: flex;
    &:first-of-type{
      justify-content: flex-start;
      a{
        margin-right: 2rem;
      }
    }
    &:last-of-type{
      justify-content: flex-end;
      a{
        margin-left: 2rem;
      }
    }
    a{
      text-decoration: none;
      font-family: $fonts-mono;
      color: $white;
      font-size: 1.5rem;
      transition: .125s all ease;
      border-bottom: 1px solid transparent;
      &.active{
        font-weight: 700;
        pointer-events: none;
      }
      &.icon{
        border: none;
        &:hover{
          border: none;
        }
      }
      &:hover{
        color: $sky;
        border-bottom: 1px solid $sky;
      }
    }
  }
  aside{
    position: absolute;
    top: -1px;
    right: 1rem;
    display: flex;
    a{
      text-transform: uppercase;
      font-size: 1rem;
      border: 1px solid white;
      padding: .75rem 1.25rem;
      margin: 0 .5rem;
      color: white;
      text-decoration: none;
      display: block;
      white-space: nowrap;
      transition: .25s all ease;
      &.active{
        pointer-events: all;
        background-color: $white;
        color: $dark-sky;
      }
    }
  }
  &.has-breadcrumbs{
    border-bottom: none;
    flex-wrap: wrap;
    padding-bottom: 0px;
    .breadcrumbs{
      border-top: 1px solid $white;
      padding: 1rem 2.5rem;
      margin: 1.5rem -1.5rem 0;
      width: calc(100% + 3rem);
      color: $white;
      .icon-angle-right{
        color: $white;
        font-size: 1rem;
        line-height: 1rem;
      }
      a{
        color: $white;
        font-size: 1.25rem;
      }
      a.active{
        text-decoration: none;
        font-weight: 600;
        pointer-events: none;
      }
    }
    & + main .hero{
      padding-top: calc(135px + 5rem);
    }
  }
  &.scrolled{
    border-bottom: 1px solid $blue;
    .logo, .logo small, .logo i, a{
      color: $blue;
    }

    .logo:hover{
      small, i, a{
        color:$medium-sky;
      }
    }
    aside a{
      border-color: $blue;
    }
    nav a{
      &:hover{
        color:$medium-sky;
      }
      &.active{
        color: desaturate($blue, 100);
        font-weight: 700;
      }
    }
    .breadcrumbs{
      border-top: 1px solid $blue;
      .icon-angle-right{
        color: $blue;
      }
      a{
        color: $blue;
      }
    }
  }
  &.overlay-open{
    border-top: 1px solid $white;
    background-color: transparentize($dark-sky, .1)!important;
  }
}
