.hero{
  background-color: blue;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding:  calc(115px + 3.5rem) 15% 5rem;
  position: relative;
  min-height: 600px;
  overflow: hidden;
  text-align: center;
  h1{
    font-family: $fonts-mono;
    font-size: 7rem;
    font-weight: 900;
    color: white;
    text-transform: uppercase;
    position: relative;
    z-index: 1;
  }
  p{
    font-weight: 100;
    color: $white;
    margin: 2rem 0;
    font-size: 2rem;
    font-family: $fonts;
    position: relative;
    z-index: 1;
  }
  a{
    font-size: 2rem;
    position: relative;
    z-index: 1;
  }
  .bg{
    opacity: .7;
    width: 105%;
    height: 100%;
    position: absolute;
    z-index: 0;
    top: 0;
    left: 0;
    filter: contrast(2) grayscale(1) brightness(.8);
    transition: .5s all ease;
    background-position: center;
    background-size: 120%;
  }
  .hollow{
    font-size: 1.25rem;
    padding: .75rem 1.25rem;
  }
  .hollow:hover{
    & + .bg{
      opacity: .85;
      transform: scale(1.1);
    }
  }
}
