.intro{
  display: flex;
  overflow: hidden;
  @include breakpoint(950px) {
    flex-direction: column;
  }
  h2{
    font-size: 2rem;
    font-weight: 600;
    margin-bottom: 1rem;
  }
  p{
    max-width: 55rem;
    line-height: 1.5;
    font-size: 1.25rem;
  }
  * + *{
    margin-top: 1rem;
  }
  .wrapper{
    padding: 5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    width: 60%;
    @include breakpoint(1115px) {
      padding: 5rem 2.5rem;
    }
    @include breakpoint(950px) {
      width: 100%;
      padding: 4rem 2rem;
    }
  }
  .img{
    width: 40%;
    max-height: 500px;
    margin: 0;
    overflow: hidden;
    filter: contrast(1.25) grayscale(.5) brightness(.8);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    @include breakpoint(950px) {
      display: none;
    }
  }
  img{
    margin: 0;
    display: block;
    width: 200%;
    margin-left: -50%;
  }
}
