.lead{
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  margin: 0 0 2rem;
  position: relative;
  h2, h3, h4, h5, h6{
    font-size: 2rem;
  }
  .content{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    p{
      font-size: 1.25rem;
      line-height: 1.5;
      max-width: 55rem;
      margin-right: calc(100% - 55rem);
    }
    * + p{
      margin-top: 1rem;
    }
  }
}
