.product-slider{
  background-color: $white;
  padding: 5rem 1rem;
  border: 10px solid $blue;
  border-top: 12px solid $blue;
  border-bottom: 1px solid $blue;
  & + .product-slider{
    border-top: none
  }

  .lead{
    margin: 0 0 1rem;
  }

  .slide-wrapper{
    margin: 0 -1rem;
  }

  .container{
      @extend .container;
  }

  .controls{
    display: inline-flex;
    height: 50px;
    .button{
      margin-left: 1rem;
    }
  }
  .wrapper{
    width: auto;
    display: flex;
    justify-content: space-between;
  }
}
