.products-intro{
  .button{
    margin: 0;
  }
  .lead{
    padding: 4rem 0 3rem;
    flex-direction: column;
  }
  .wrapper{
    @extend .container;
    display: flex;
    justify-content: space-between;
  }
  .form-fields{
    display: flex;
  }
}
