.product-info{
  width: 100%;
  .container{
    overflow: visible;
    @include breakpoint(1350px) {
      max-width: 100%;
      padding: 0 2rem;
    }
    .wrapper{
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
      align-items: flex-start;
      @include breakpoint(1000px) {
        .selected-image img{
          max-width: 200px;
          margin: 0 auto;
        }
      }
    }
    .wrapper > header{
      width: 100%;
      text-align: left;
      margin-bottom: 2rem;
    }
  }
  h1{
    text-transform: none;
    font-size: 3rem;
    font-weight: 600;
  }
  p{
    margin: .5rem 0;
    font-size: 1.5rem;
  }
  .images{
    width: calc(40% - 4rem);
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    position: relative;
    margin-bottom: 2rem;
    @include breakpoint(1000px) {
      width: 100%;
    }
    .images-wrapper{
      border: 1px solid $blue;
    }
    .selected-image{
      width: 100%;
      position: relative;
      border-bottom: 1px solid $blue;
      .wrapper{
        padding: 2rem;
        img{
          width: 100%;
        }
      }
    }
    .image-options{
      display: flex;
      padding: 1rem;
      justify-content: space-between;
      @include breakpoint(1000px) {
        padding: 2rem;
      }
      a{
        width: 30%;
        @include breakpoint(1000px) {
          max-width: 100px;
          &:before{
            margin-top: -2rem;
          }
        }
        @include breakpoint(1000px) {
          max-width: 50px;
        }
        img{
          display: inline-block;
          max-width: 100%;
          transition: .25s all ease;
        }
        &:before{
          opacity: 0;
          position: absolute;
          top: 0;
          left: 50%;
          margin-left: -.5rem;
          margin-top: -1rem;
          content: "";
          width: 0;
          height: 0;
          border-top: 1rem solid $blue;
          border-left: 10px solid transparent;
          border-right: 10px solid transparent;
          transition: .25s all ease;
        }
        &:hover{
          img{transform: scale(1.1);}
          &:before{
            opacity: .5;
          }
        }
        &.active{
          pointer-events: none;
          &:before{
            opacity: 1;
          }
        }
      }
    }
  }
  .info{
    width: 60%;
    text-align: left;
    @include breakpoint(1000px) {
      width: 100%;
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
    }
    p{
      line-height: 1.5;
      margin: 0;
      @include breakpoint(1000px) {
        width: 100%;
        margin: 2rem 0 3rem;
      }
    }
    & > p{
      margin-bottom: 1rem;
    }
  }
  .technical-details{
    margin: 1rem 0 2rem;
    overflow: hidden;
    background-color: transparent;
    border: 1px solid $blue;
    padding: .5rem;
    width: calc(100% - 4rem);
    display: block;
    padding: 0;
    pointer-events: all;
    position: relative;
    z-index: 3;
    margin: 1rem 2rem;
    &:hover{
      cursor: pointer;
      h3{
        color: $white;
        background-color: $sky;
      }
    }
    h3{
      font-size: 1.25rem;
      color: $white;
      color: $dark-sky;
      pointer-events: none;
      transition: .125s all ease;
      padding: 1.5rem;
      display: flex;
      justify-content: space-between;
      &:after{
        transition: .125s all ease;
        font-family: $icon-font;
        content: '\e807';
      }
    }
    .content{
      max-height: 15rem;
      box-sizing: initial;
      overflow: scroll;
      margin-bottom: -3rem;
      margin-right: -3rem;
      transition: .25s all ease;
      padding-bottom: 1rem;
      padding: 0;
      max-height: 0px;
      overflow: hidden;
      margin: 0;
      p{
        margin: 0;
        color: $dark-sky;
        margin-bottom: .25rem;
        &:last-of-type{
          margin-bottom: 1rem;
        }
      }
    }
    p{
      font-size: 1rem;
    }
    &.open{
      h3{
        color: $dark-sky;
        background-color: $white;
        border-bottom: 1px solid $blue;
        &:after{
          transform: rotate(90deg);
        }
      }
      .content{
        background-color: $white;
        max-height: 1500px;
        padding: 1.5rem 0;
      }
    }
  }
  .purchasing-options{
    background-color: $white;
    max-width: 100%;
    p{
      color: $dark-sky;
    }
    input{
      display: inline-block;
      border-color: $blue;
      text-align: right;
      width: 7.5rem;
      &::placeholder{
        color: $sky;
      }
    }
    & > header{
      padding: 1.5rem;
      background-color: $blue;
      h3{
        font-size: 1.5rem;
        color: $white;
      }
    }

    h5{
      font-size: 1.5rem;
      margin-bottom: .5rem;
    }

    .option-links{
      display: flex;
      a{
        display: inline-flex;
        align-items: center;
        justify-content: center;
        text-align: center;
        font-size: 1rem;
        font-weight: 500;
        text-decoration: none;
        background-color: $sky;
        padding: 1rem;
        transition: .125s all ease;
        margin-bottom: -1px;
        border: 1px solid transparent;
        border-bottom: 1px solid $blue;
        &:first-of-type{
          border-left: 1px solid $blue;
        }
        &:last-of-type{
          border-right: 1px solid $blue;
        }
        &:hover{
          background-color: darken($sky, 10%);
          color: $white;
        }
        &.active{
          pointer-events: none;
          background-color: $light-sky;
          color: $dark-sky;
          border: 1px solid $blue;
          border-top: none;
          border-bottom: none;
        }
      }
    }
    .option-container{
      overflow: hidden;
      .option-wrapper{
        display: flex;
      }
    }
    .option{
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      background-color: $light-sky;
      border: 1px solid $blue;
      h5{
        padding: 2rem 2rem 0;
      }
      p{
        padding: 0 2rem;
      }
      .button.hollow.blue{
        margin: 1rem 2rem;
      }
      .form-field, .price-info{
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 1rem 2rem;
        border-top: 1px solid $blue;
        border-bottom: 1px solid $blue;
        margin-top: 1rem;
        label, h4{
          font-size: 1.5rem;
        }
      }
      .price-info{
        margin: -1px 0;
        p{
          padding: 0;
        }
      }
    }
    .discount{
      border: 1px solid $blue;
      border-top: none;
      padding: 1rem 2rem;
      header{
        display: flex;
        justify-content: space-between;
        align-items: center;
        h4{
          font-size: 1.5rem;
        }
      }
    }
    .total{
      border: 1px solid $blue;
      border-top: none;
      padding: 1rem 2rem;
      display: flex;
      justify-content: space-between;
      align-items: center;
      .price{
        color: $green;
        border: none;
        padding: 0px;
      }
    }
    .request-details{
      padding: 2rem;
      border: 1px solid $blue;
      border-top: 0px;
      border-bottom: 0px;
    }
    .button.purchase{
      text-align: center;
      padding: 2rem;
      color: $white;
      background-color: darken($green, 5%);
      border: 1px solid darken($green, 10%);
      &:hover{
        background-color: $green;
      }
    }
  }
}
